* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "cocogoose";
  src: url(/Font/cocogoose-pro.regular.ttf);
}
@media only screen and (max-width: 767px) {
  .main_container {
    width: 100vw;
    height: 100%;
    overflow: hidden;
  }
  .main_container .nav_container {
    background-image: url(./img/head_img.png);
    background-size: 100% 100%;
    background-repeat: no-repeat, repeat;
    height: 150px;
  }
  .main_container .nav_container #menu_mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main_container .nav_container #menu_mobile a {
    visibility: hidden;
    text-decoration: none;
    padding-left: 84%;
    color: #000;
    margin: 3% 0;
    font-size: 25px;
    z-index: 2;
  }
  .main_container .nav_container .icon_menu {
    background-image: url(./img/mobile_menu_header.png);
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: 70%;
    width: 10vw;
    height: 10vh;
    position: relative;
    top: -63%;
    left: 2.5%;
  }
  .main_container .nav_container .hide_menu {
    background-image: url(./img/disable_close.png);
    background-repeat: no-repeat, repeat;
    height: 100%;
    background-size: 5%;
    position: relative;
    left: 7%;
    top: -170%;
    visibility: hidden;
  }
  .main_container .nav_container .bg_img_head {
    background-image: url(./img/chess_rotate.png);
    background-repeat: no-repeat, repeat;
    background-size: 11%;
    height: 100%;
    position: relative;
    top: -200%;
    right: -70%;
    opacity: 0.4;
  }
  .main_container .nav_container .bg_img_c {
    background-image: url(./img/head_c_img.png);
    background-repeat: no-repeat, repeat;
    background-size: 7%;
    height: 100%;
    position: relative;
    top: -265%;
    right: -15%;
    opacity: 0.4;
  }
  .main_container .nav_container .bg_img_x {
    background-image: url(./img/img_x.png);
    background-repeat: no-repeat, repeat;
    background-size: 7%;
    height: 100%;
    position: relative;
    top: -367%;
    right: -90%;
    opacity: 0.4;
  }
  .main_container .header_container {
    height: 100%;
    padding: 0 3%;
    background-color: rgb(247, 247, 248);
  }
  .main_container .header_container .container_img_header {
    display: flex;
    flex-direction: column;
  }
  .main_container .header_container .container_img_header .bg_img_cero {
    width: 100%;
    background-image: url(./img/cero_icon.png);
    background-repeat: no-repeat, repeat;
    height: 25px;
    position: relative;
    left: 9%;
  }
  .main_container .header_container .container_img_header .bg_img_cero .bg_img_ball {
    width: 100%;
    background-image: url(./img/ball_icon.png);
    background-repeat: no-repeat, repeat;
    height: 90px;
    position: relative;
    top: -220%;
    left: 70%;
  }
  .main_container .header_container .container_img_header .subtitle_header {
    color: #ec5242;
    font-size: 4.5vw;
    padding-left: 0;
  }
  .main_container .header_container .container_img_header h1 {
    color: #ec5242;
    font-size: 8.5vw;
    padding-left: 0;
    font-weight: bold;
    width: 100%;
  }
  .main_container .header_container .container_img_header h1 span {
    background-image: url(./img/font.jpg);
    font-weight: 700;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-repeat: repeat;
    background-size: 10%;
  }
  .main_container .header_container .para_header {
    height: 100%;
    padding: 4% 3%;
    margin-bottom: 0;
    text-align: justify;
    font-size: 3.3vw;
    border: 4px solid #fff;
    line-height: 40px;
    background-color: rgb(247, 247, 248);
  }
  .main_container .header_container .container_under_header {
    display: flex;
    flex-direction: column;
  }
  .main_container .header_container .container_under_header .dates_header {
    color: rgba(37, 37, 37, 0.8);
    font-size: 4.6vw;
    font-weight: bolder;
  }
  .main_container .header_container .container_under_header .subloc_header {
    font-size: 3vw;
    color: rgb(90, 90, 90);
  }
  .main_container .header_container .container_last {
    background-color: rgb(247, 247, 248);
    display: flex;
    height: 120px;
  }
  .main_container .header_container .container_last .bg_img_last {
    width: 100%;
    background-image: url(./img/img_x.png);
    background-repeat: no-repeat, repeat;
    height: 40px;
    position: relative;
    top: 40%;
    left: 8%;
    background-size: 40px;
  }
  .main_container .header_container .container_last .bg_img_last .bg_img_pesos {
    width: 100%;
    background-image: url(./img/pesos_header.png);
    background-repeat: no-repeat, repeat;
    height: 100px;
    position: relative;
    left: 78%;
    top: -80%;
    opacity: 0.5;
  }
  .main_container .section_container {
    height: 100%;
    padding: 0 3%;
    background-image: url(./img/bg_section.png);
    background-repeat: repeat;
    background-color: rgb(39, 42, 50);
    padding-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .main_container .section_container .section_title {
    color: #fff;
  }
  .main_container .section_container .section_title_deco {
    border-bottom: 2px solid rgb(239, 81, 60);
    width: 10%;
    align-self: center;
    margin-top: 8px;
    margin-bottom: 40px;
  }
  .main_container .section_container .section_part_one {
    display: grid;
    grid-template-columns: 10% 20% 70%;
    grid-auto-rows: 100px;
    column-gap: 3%;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 12px;
  }
  .main_container .section_container .section_part_one .section_image_one {
    background-image: url(./img/section_icon_one.png);
    background-repeat: no-repeat, repeat;
    background-position: center;
  }
  .main_container .section_container .section_part_one .section_image_two {
    background-image: url(./img/section_icon_two.png);
    background-repeat: no-repeat, repeat;
    background-position: center;
  }
  .main_container .section_container .section_part_one .section_image_three {
    background-image: url(./img/section_icon_three.png);
    background-repeat: no-repeat, repeat;
    background-position: center;
  }
  .main_container .section_container .section_part_one .section_image_four {
    background-image: url(./img/section_icon_four.png);
    background-repeat: no-repeat, repeat;
    background-position: center;
  }
  .main_container .section_container .section_part_one .section_image_five {
    background-image: url(./img/section_icon_five.png);
    background-repeat: no-repeat, repeat;
    background-position: center;
  }
  .main_container .section_container .section_part_one .section_lecture {
    color: #ec5242;
    font-size: 4vw;
    font-weight: bold;
    align-self: center;
    text-align: justify;
  }
  .main_container .section_container .section_part_one .section_para_one {
    color: #fff;
    font-size: 2.9vw;
    align-self: center;
    text-align: justify;
    width: 80%;
  }
  .main_container .section_container .join_btn {
    font-size: 4vw;
    font-weight: 400;
    color: #f2f2f2;
    background-color: #ec5242;
    border: none;
    width: 80%;
    padding: 25px;
    margin: 10%;
  }
  .main_container .section_speakers {
    background-color: rgb(247, 247, 248);
    height: 100%;
  }
  .main_container .section_speakers .speakers_title {
    text-align: center;
    height: 10%;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .main_container .section_speakers .section_title_deco {
    border-bottom: 2px solid rgb(239, 81, 60);
    width: 10%;
    margin: 0 auto;
    margin-bottom: 80px;
  }
  .main_container .section_speakers .first_speaker {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 28px 0;
  }
  .main_container .section_speakers .first_speaker .img_speaker_one {
    background-image: url(./img/fisrt_speaker.png);
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: 80%;
    width: 40%;
    margin-right: 10px;
  }
  .main_container .section_speakers .first_speaker .img_speaker_two {
    background-image: url(./img/second_speaker.png);
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: 80%;
    width: 60%;
    margin-right: 10px;
  }
  .main_container .section_speakers .first_speaker .article_speaker_one {
    display: flex;
    flex-direction: column;
  }
  .main_container .section_speakers .first_speaker .article_speaker_one .first_speak_title {
    font-size: 4.5vw;
  }
  .main_container .section_speakers .first_speaker .article_speaker_one .first_speak_subti {
    color: #ec5242;
    font-style: italic;
    font-size: 2vw;
  }
  .main_container .section_speakers .first_speaker .article_speaker_one .first_speak_para {
    font-size: 2vw;
  }
  .main_container .section_speakers .final_section {
    border: 1px solid #d3d3d3;
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 50px;
  }
  .main_container .section_speakers .final_section .see_more {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main_container .section_speakers .final_section .see_more .final_sect_Text {
    font-size: 2vw;
  }
  .main_container .section_speakers .final_section .see_more .final_sect_icon {
    background-image: url(./img/expand_more.png);
    background-repeat: no-repeat, repeat;
    background-position: center;
    width: 10%;
    height: 30%;
    filter: opacity(0.5) drop-shadow(0 0 0 #ec5242);
    position: relative;
    right: 2%;
  }
}

/*# sourceMappingURL=style.css.map */
