* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'cocogoose', 'lato';
}

#featured_section_home h6,
#featured_section_about h6 {
  display: none;
}

@media (min-width: 768px) and (max-width: 3000px) {
  .main_container {
    width: 100vw;
    height: 100%;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;

    .nav_container {
      display: none;
    }

    .desktop_version {
      display: flex;
      flex-direction: column;

      .top_header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: rgb(62, 62, 62);
        height: 30px;
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 0;
        padding-top: 0;
        padding-right: 15%;

        a {
          text-decoration: none;
          color: #fff;
          font-size: 12px;
          font-family: 'lato';
          margin: 0 10px;
        }

        .icon_face {
          color: #fff;
        }

        .icon_twitter {
          color: #fff;
        }
      }

      .main_nav {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
        height: 85px;

        .icon_global_summit {
          min-width: 15vw;
          min-height: 5vh;
          margin-right: 9%;
          margin-left: 15%;
        }

        .menu_under {
          margin: 0 2%;
          text-decoration: none;
          color: rgb(131, 124, 124);
          font-size: 1vw;
          font-family: 'lato';
        }

        .menu_under_last {
          margin-left: 3.5%;
          text-decoration: none;
          color: #ec5242;
          border: 4px solid #ec5242;
          padding: 5px;
          font-size: 1vw;
          font-family: 'lato';
        }

        .color_about {
          color: #ec5242;
        }
      }
    }

    .head_container_desktop {
      background-image: url(./img/header.png);
      background-repeat: no-repeat, repeat;
      background-size: 100%;
      width: 100vw;
      height: 100%;
      padding: 0 3%;
      background-color: rgb(247, 247, 248);
      margin: 0;

      .container_img_header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 110px;

        .subtitle_header {
          color: #ec5242;
          font-size: 3vw;
          font-family: 'lato';
          padding-left: 12%;
        }

        h1 {
          color: #ec5242;
          font-size: 4.7vw;
          font-family: 'cocogoose';
          font-weight: bold;
          padding-left: 12%;
          line-height: 85%;
          width: 66%;
          margin-bottom: 25px;

          span {
            background-image: url(./img/font.jpg);
            font-weight: 700;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            background-repeat: repeat;
            background-size: 9%;
          }
        }
      }

      .para_header {
        margin-left: 12.7%;
        margin-bottom: 0;
        height: 110px;
        width: 44%;
        text-align: center;
        display: flex;
        align-items: center;
        font-size: 1vw;
        font-family: 'lato';
        border: 5px solid #fff;
        background-color: rgb(247, 247, 248);
      }

      .container_under_header {
        display: flex;
        flex-direction: column;

        .dates_header {
          color: rgb(37, 37, 37, 0.8);
          font-size: 3vw;
          font-family: 'lato';
          font-weight: bolder;
          padding-left: 12%;
        }

        .subloc_header {
          font-size: 1.5vw;
          font-family: 'lato';
          color: rgb(90, 90, 90);
          padding-left: 12%;
        }
      }

      .container_last {
        background-color: rgb(247, 247, 248);
        display: flex;
        height: 120px;

        .bg_img_last {
          width: 100%;
          background-image: url(./img/img_x.png);
          background-repeat: no-repeat, repeat;
          height: 40px;
          position: relative;
          top: 40%;
          left: 8%;
          background-size: 40px;

          .bg_img_pesos {
            width: 100%;
            background-image: url(./img/pesos_header.png);
            background-repeat: no-repeat, repeat;
            height: 100px;
            position: relative;
            left: 78%;
            top: -80%;
            opacity: 0.5;
          }
        }
      }
    }

    .section_container {
      height: 100%;
      padding: 0 3%;
      background-image: url(./img/bg_section.png);
      background-repeat: repeat;
      background-color: rgb(39, 42, 50);
      padding-top: 40px;
      text-align: center;
      display: flex;
      flex-direction: column;

      .section_title {
        color: #fff;
      }

      .section_title_deco {
        border-bottom: 2px solid rgb(239, 81, 60);
        width: 10%;
        align-self: center;
        margin-top: 8px;
        margin-bottom: 40px;
      }

      .container_parts {
        display: flex;
        justify-content: center;
        height: 100%;
      }

      .section_part_one {
        display: flex;
        background: rgba(255, 255, 255, 0.1);
        flex-direction: column;
        align-items: center;
        margin: 0 0.1%;
        margin-top: 12px;
        width: 250px;
        height: 255px;
      }

      .section_part_one .section_image_one {
        background-image: url(./img/section_icon_one.png);
        background-repeat: no-repeat, repeat;
        background-position: center;
        width: 100%;
        height: 85px;
      }

      .section_part_one .section_image_two {
        background-image: url(./img/section_icon_two.png);
        background-repeat: no-repeat, repeat;
        background-position: center;
        width: 100%;
        height: 85px;
      }

      .section_part_one .section_image_three {
        background-image: url(./img/section_icon_three.png);
        background-repeat: no-repeat, repeat;
        background-position: center;
        width: 100%;
        height: 85px;
      }

      .section_part_one .section_image_four {
        background-image: url(./img/section_icon_four.png);
        background-repeat: no-repeat, repeat;
        background-position: center;
        width: 100%;
        height: 85px;
      }

      .section_part_one .section_image_five {
        background-image: url(./img/section_icon_five.png);
        background-repeat: no-repeat, repeat;
        background-position: center;
        width: 100%;
        height: 85px;
      }

      .section_part_one .section_lecture {
        color: #ec5242;
        font-size: 1.3vw;
        font-family: 'lato';
        font-weight: bold;
        align-self: center;
        text-align: justify;
      }

      .section_part_one .section_para_one {
        color: #fff;
        font-size: 0.8vw;
        font-family: 'lato';
        align-self: center;
        text-align: center;
        width: 70%;
      }

      .join_btn {
        display: none;
      }

      .see_program {
        margin: 75px 0;
        color: #fff;
      }
    }

    .section_speakers {
      display: none;
      background-color: rgb(247, 247, 248);
      height: 100%;
    }

    .section_speakers_desktop {
      display: flex;
      flex-direction: column;
      background-color: rgb(248, 248, 248);

      .speakers_title {
        text-align: center;
        height: 4%;
        margin-top: 30px;
      }

      .section_title_deco {
        border-bottom: 2px solid rgb(239, 81, 60);
        width: 4%;
        margin: 0 auto;
        margin-bottom: 30px;
      }

      .first_speaker {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 28px 0;
        background-color: rgb(248, 248, 248);

        .img_speaker_one {
          background-image: url(./img/speaker_one_desktop.png);
          background-repeat: no-repeat, repeat;
          background-position: center;
          background-size: 80%;
          width: 13vw;
          margin-right: 10px;
        }

        .img_speaker_two {
          background-image: url(./img/fourth_speaker.png);
          background-repeat: no-repeat, repeat;
          background-position: center;
          background-size: 80%;
          width: 13vw;
          margin-right: 10px;
        }

        .img_speaker_three {
          background-image: url(./img/speaker_two_desktop.png);
          background-repeat: no-repeat, repeat;
          background-position: center;
          background-size: 80%;
          width: 13vw;
          margin-right: 10px;
        }

        .img_speaker_four {
          background-image: url(./img/Five_speaker.png);
          background-repeat: no-repeat, repeat;
          background-position: center;
          background-size: 80%;
          width: 13vw;
          margin-right: 10px;
        }

        .img_speaker_five {
          background-image: url(./img/third_spaeker.png);
          background-repeat: no-repeat, repeat;
          background-position: center;
          background-size: 80%;
          width: 13vw;
          margin-right: 10px;
        }

        .img_speaker_six {
          background-image: url(./img/six_speaker.png);
          background-repeat: no-repeat, repeat;
          background-position: center;
          background-size: 80%;
          width: 13vw;
          margin-right: 10px;
        }

        .article_speaker_one {
          display: flex;
          flex-direction: column;

          .first_speak_title {
            font-size: 1.2vw;
            font-family: 'lato';
            width: 10vw;
            font-weight: bold;
          }

          .first_speak_subti {
            color: #ec5242;
            font-style: italic;
            font-size: 1.2vw;
            font-family: 'lato';
            width: 30vw;
          }

          .first_speak_para {
            font-size: 1.1vw;
            font-family: 'lato';
            width: 29vw;
          }
        }
      }

      .final_section {
        border: 1px solid #d3d3d3;
        width: 90%;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 5px;
        margin-bottom: 50px;

        .see_more {
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;

          .final_sect_Text {
            font-size: 2vw;
            font-family: 'lato';
          }

          .final_sect_icon {
            background-image: url(./img/expand_more.png);
            background-repeat: no-repeat, repeat;
            background-position: center;
            width: 10%;
            height: 30%;
            filter: opacity(0.5) drop-shadow(0 0 0 #ec5242);
            position: relative;
            right: 2%;
          }
        }
      }
    }

    .containers_footer {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: rgb(248, 248, 248);
      height: 300px;

      .img_bg_speakers {
        background-image: url(./img/desktop_spaekers_bg_img.png);
        background-repeat: no-repeat, repeat;
        background-position: bottom;
        background-size: 100%;
        height: 100%;
      }

      .img_bg_footers {
        background-image: url(./img/footer_desktop.png);
        background-repeat: no-repeat, repeat;
        background-position: top;
        background-size: 100%;
        height: 100%;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .main_container {
    width: 100vw;
    height: 100%;
    overflow: hidden;

    .desktop_version {
      display: none;
    }

    #featured_section_about {
      display: none;
    }

    .nav_container {
      background-image: url(./img/head_img.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat, repeat;
      height: 100%;

      .special {
        position: relative;

        #menu_mobile {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          a {
            visibility: hidden;
            text-decoration: none;
            color: #000;
            margin: 5% 0;
            font-size: 35px;
            z-index: 2;
          }

          a:hover {
            color: #ec5242;
          }
        }

        .icon_menu {
          background-image: url(./img/mobile_menu_header.png);
          background-repeat: no-repeat, repeat;
          background-position: center;
          background-size: 70%;
          width: 10vw;
          height: 10vh;
          position: absolute;
          top: 4%;
          left: 3.5%;
        }

        .hide_menu {
          background-image: url(./img/disable_close.png);
          background-repeat: no-repeat, repeat;
          background-position: center;
          background-size: 70%;
          width: 10vw;
          height: 10vh;
          position: absolute;
          top: 2%;
          left: 2.3%;
          visibility: hidden;
        }

        .bg_img_head {
          background-image: url(./img/chess_rotate.png);
          background-repeat: no-repeat, repeat;
          background-size: 12%;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 10%;
          right: -70%;
          opacity: 0.4;
        }

        .bg_img_c {
          background-image: url(./img/head_c_img.png);
          background-repeat: no-repeat, repeat;
          background-size: 6%;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 55%;
          right: -15%;
          opacity: 0.6;
        }

        .bg_img_x {
          background-image: url(./img/img_x.png);
          background-repeat: no-repeat, repeat;
          background-size: 7%;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 48%;
          right: -90%;
          opacity: 0.4;
        }
      }
    }

    .header_container {
      height: 100%;
      padding: 0 3%;
      background-color: rgb(247, 247, 248);

      .container_img_header {
        display: flex;
        flex-direction: column;

        .bg_img_cero {
          width: 100%;
          background-image: url(./img/cero_icon.png);
          background-repeat: no-repeat, repeat;
          height: 25px;
          position: relative;
          left: 9%;

          .bg_img_ball {
            width: 100%;
            background-image: url(./img/ball_icon.png);
            background-repeat: no-repeat, repeat;
            height: 90px;
            position: relative;
            top: -220%;
            left: 70%;
          }
        }

        .subtitle_header {
          color: #ec5242;
          font-size: 4.5vw;
          font-family: 'lato';
          padding-left: 0;
        }

        h1 {
          font-family: 'cocogoose';
          color: #ec5242;
          font-size: 8.5vw;
          padding-left: 0;
          font-weight: bold;
          width: 100%;

          span {
            background-image: url(./img/font.jpg);
            font-weight: 700;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            background-repeat: repeat;
            background-size: 10%;
          }
        }
      }

      .para_header {
        height: 100%;
        padding: 4% 3%;
        margin-bottom: 0;
        text-align: justify;
        font-size: 3.3vw;
        font-family: 'lato';
        border: 4px solid #fff;
        line-height: 40px;
        background-color: rgb(247, 247, 248);
      }

      .container_under_header {
        display: flex;
        flex-direction: column;

        .dates_header {
          color: rgb(37, 37, 37, 0.8);
          font-size: 4.6vw;
          font-family: 'lato';
          font-weight: bolder;
        }

        .subloc_header {
          font-size: 3vw;
          font-family: 'lato';
          color: rgb(90, 90, 90);
        }
      }

      .container_last {
        background-color: rgb(247, 247, 248);
        display: flex;
        height: 120px;

        .bg_img_last {
          width: 100%;
          background-image: url(./img/img_x.png);
          background-repeat: no-repeat, repeat;
          height: 40px;
          position: relative;
          top: 40%;
          left: 8%;
          background-size: 40px;

          .bg_img_pesos {
            width: 100%;
            background-image: url(./img/pesos_header.png);
            background-repeat: no-repeat, repeat;
            height: 100px;
            position: relative;
            left: 78%;
            top: -80%;
            opacity: 0.5;
          }
        }
      }
    }

    .section_container {
      height: 100%;
      padding: 0 3%;
      background-image: url(./img/bg_section.png);
      background-repeat: repeat;
      background-color: rgb(39, 42, 50);
      padding-top: 40px;
      text-align: center;
      display: flex;
      flex-direction: column;

      .section_title {
        color: #fff;
      }

      .section_title_deco {
        border-bottom: 2px solid rgb(239, 81, 60);
        width: 10%;
        align-self: center;
        margin-top: 8px;
        margin-bottom: 40px;
      }

      .section_part_one {
        display: grid;
        grid-template-columns: 20% 20% 60%;
        grid-auto-rows: 100px;
        column-gap: 3%;
        background: rgba(255, 255, 255, 0.1);
        margin-top: 12px;
      }

      .section_part_one .section_image_one {
        background-image: url(./img/section_icon_one.png);
        background-repeat: no-repeat, repeat;
        background-position: center;
      }

      .section_part_one .section_image_two {
        background-image: url(./img/section_icon_two.png);
        background-repeat: no-repeat, repeat;
        background-position: center;
      }

      .section_part_one .section_image_three {
        background-image: url(./img/section_icon_three.png);
        background-repeat: no-repeat, repeat;
        background-position: center;
      }

      .section_part_one .section_image_four {
        background-image: url(./img/section_icon_four.png);
        background-repeat: no-repeat, repeat;
        background-position: center;
      }

      .section_part_one .section_image_five {
        background-image: url(./img/section_icon_five.png);
        background-repeat: no-repeat, repeat;
        background-position: center;
      }

      .section_part_one .section_lecture {
        color: #ec5242;
        font-size: 4vw;
        font-family: 'lato';
        font-weight: bold;
        align-self: center;
        text-align: justify;
      }

      .section_part_one .section_para_one {
        color: #fff;
        font-size: 2.9vw;
        font-family: 'lato';
        align-self: center;
        text-align: justify;
        width: 80%;
      }

      .see_program {
        display: none;
      }

      .join_btn {
        font-size: 4vw;
        font-family: 'lato';
        font-weight: 400;
        color: #f2f2f2;
        background-color: #ec5242;
        border: none;
        width: 80%;
        padding: 25px;
        margin: 10%;
      }
    }

    .section_speakers {
      background-color: rgb(247, 247, 248);
      height: 100%;

      .speakers_title {
        text-align: center;
        height: 10%;
        margin-top: 30px;
        margin-bottom: 15px;
      }

      .section_title_deco {
        border-bottom: 2px solid rgb(239, 81, 60);
        width: 10%;
        margin: 0 auto;
        margin-bottom: 80px;
      }

      .first_speaker {
        display: flex;
        width: 100%;
        height: 100%;
        margin: 28px 0;

        .img_speaker_one {
          background-image: url(./img/fisrt_speaker.png);
          background-repeat: no-repeat, repeat;
          background-position: center;
          background-size: 80%;
          width: 40%;
          margin-right: 10px;
        }

        .img_speaker_two {
          background-image: url(./img/second_speaker.png);
          background-repeat: no-repeat, repeat;
          background-position: center;
          background-size: 80%;
          width: 60%;
          margin-right: 10px;
        }

        .article_speaker_one {
          display: flex;
          flex-direction: column;

          .first_speak_title {
            font-size: 4.5vw;
            font-family: 'lato';
          }

          .first_speak_subti {
            color: #ec5242;
            font-style: italic;
            font-size: 2vw;
            font-family: 'lato';
          }

          .first_speak_para {
            font-size: 2vw;
            font-family: 'lato';
          }
        }
      }

      .final_section {
        border: 1px solid #d3d3d3;
        width: 90%;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 5px;
        margin-bottom: 50px;

        .see_more {
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;

          .final_sect_Text {
            font-size: 14px;
            font-family: 'lato';
            padding-right: 1%;
          }

          .final_sect_icon {
            background-image: url(./img/expand_more.png);
            background-repeat: no-repeat, repeat;
            background-position: center;
            width: 5%;
            height: 30%;
            padding-left: 1%;
            filter: opacity(0.5) drop-shadow(0 0 0 #ec5242);
            position: relative;
          }
        }
      }
    }

    .containers_footer {
      display: none;
    }
  }
}

@media (min-width: 100px) and (max-width: 500px) {
  .main_container {
    width: 100vw;
    height: 100%;
    overflow: hidden;

    .nav_container {
      height: 100%;

      .special {
        position: relative;

        .icon_menu {
          width: 10vw;
          height: 5vh;
          position: absolute;
          top: 4%;
          left: 3.5%;
        }

        .hide_menu {
          width: 10vw;
          height: 5vh;
          position: absolute;
          top: 2%;
          left: 2.3%;
          visibility: hidden;
        }
      }
    }
  }
}

@media (min-width: 1000px) and (max-width: 1230px) {
  .main_container {
    width: 100vw;
    height: 100%;
    overflow: hidden;

    .containers_footer {
      height: 370px;

      .img_bg_speakers {
        background-image: url(./img/desktop_spaekers_bg_img.png);
      }

      .img_bg_footers {
        background-image: url(./img/footer_desktop.png);
      }
    }
  }
}

@media (min-width: 1231px) and (max-width: 1500px) {
  .main_container {
    width: 100vw;
    height: 100%;
    overflow: hidden;

    .containers_footer {
      height: 450px;

      .img_bg_speakers {
        background-image: url(./img/desktop_spaekers_bg_img.png);
      }

      .img_bg_footers {
        background-image: url(./img/footer_desktop.png);
      }
    }
  }
}

@media (min-width: 1501px) and (max-width: 2000px) {
  .main_container {
    width: 100vw;
    height: 100%;
    overflow: hidden;

    .containers_footer {
      height: 600px;

      .img_bg_speakers {
        background-image: url(./img/desktop_spaekers_bg_img.png);
      }

      .img_bg_footers {
        background-image: url(./img/footer_desktop.png);
      }
    }
  }
}
